.bloco-item{
    width: 19vw;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-left: 8px;
    margin-top: 10px;
    background-color: var(--color-secundary);
}
.bloco-item article{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloco-item article .icone{
    width: 30%;
    font-size: 7rem;
    position: relative;
}
.bloco-item article .quantidade{
    width: 70%;
    font-size: 4rem;
    text-align: right;
    position: relative;
    top: 15px;
}